<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width,initial-scale=1.0,user-scalable=0" name="viewport"/>
        <link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
        <title>百度新闻</title>
    </head>
    <body>
        <div class="wrapper">
            <!-- 头部 -->
            <div class="header">
                <%-typecontent%>
            </div>

            <!-- 内容 -->
            <div id="content">
                <%-newcontent%>
            </div>
        </div>

        <script type="text/javascript" src="/javascripts/jquery-2.2.3.min.js"></script>
        <script type="text/javascript" src="/javascripts/index.js"></script>
    </body>
</html>